@import "tailwindcss";

/* LIFE IS STRANGE FONTS */
@font-face {
    font-family: "Dudu";
    src: url("/fonts/Dudu_Calligraphy.ttf");
    font-display: swap;
}
@font-face {
    font-family: "whatnot";
    src: url("/fonts/whatnot.ttf");
    font-display: swap;
}
@font-face {
    font-family: "HelvetiHand";
    src: url("/fonts/HelvetiHand.ttf");
    font-display: swap;
}
/* END LIFE IS STRANGE FONTS */

/* PORTAL FONTS */
@font-face {
    font-family: "Portal";
    src: url("/fonts/DIN.otf");
    font-display: swap;
}
/* END PORTAL FONTS */

/* CYBERPUNK FONTS */
@font-face {
    font-family: "Cyberpunk";
    src: url("/fonts/Cyberpunk.ttf");
    font-display: swap;
}
@font-face {
    font-family: Cyber;
    src: url("/fonts/Blender-Pro-Bold.otf");
    font-display: swap;
}
/* END CYBERPUNK FONTS */

.button {
    background-color: var(--color-blue-600);

    &:hover {
        background-color: var(--color-blue-500);
    }
}

html[data-theme="portal"] {
    font-family: "Portal", sans-serif;
    --colors-accent: #00a2ff;
    --colors-secondary: var(--color-slate-800);

    #nprogress .bar {
        background: var(--colors-accent);
    }
    #nprogress .spinner-icon {
        border-top-color: var(--colors-accent);
        border-left-color: var(--colors-accent);
    }

    .card,
    .box {
        position: relative;
        background: var(--color-slate-900); /* very dark blue-black */
        color: #c0d4f7;
        border-radius: 12px;
        padding: 1.5rem;
        border: 2px solid var(--colors-accent);
    }
    /* Blue and Orange top/bottom accent lines */
    .card-header {
        font-weight: 700;
        font-size: 1.3rem;
        border-bottom: 2px solid #00a2ff;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
        color: #0099ff;
    }

    .card-footer {
        border-top: 2px solid #ff6600;
        padding-top: 0.5em;
        margin-top: 1em;
        color: #cc8a3d;
    }

    .card-body {
        font-size: 1rem;
        line-height: 1.5;
    }

    /* Subtle animated glow pulse */
    @keyframes portalPulse {
        0%,
        100% {
            box-shadow: inset 0 0 14px 2px rgba(0, 162, 255, 0.7),
                inset 0 0 12px 2px rgba(255, 102, 0);
        }
        50% {
            box-shadow: inset 0 0 18px 3px rgba(0, 162, 255, 0.7),
                inset 0 0 16px 3px rgba(255, 102, 0, 0);
        }
    }

    .card {
        animation: portalPulse 4s ease-in-out infinite;
    }
}

html[data-theme="cyberpunk"] {
    font-family: "Cyber", sans-serif;
    --colors-bg--300: #1e181e;
    --colors-bg--300: #1e181e;
    --colors-bg--500: #191a1e;
    --colors-primary--200: #f4908b;
    --colors-primary--300: #ea6f69;
    --colors-primary--500: #e8615a;
    --colors-primary--600: #9c3230;
    --colors-primary--600-opacity: #9c323088;
    --colors-primary--700: #5e2122;
    --colors-primary--800: #451717;
    --colors-primary--900: #3c181a;
    --colors-secondary--500: #2be4ea;
    --colors-secondary--900: #295459;
    --colors-tertiary--500: #fed33f;
    --colors-on_bg--500: var(--colors-primary--500);
    --colors-on_tertiary--500: var(--colors-bg--300);
    --colors-on_primary--500: var(--colors-primary--200);
    --colors-active--500: #2bfea0;
    --fonts-primary: "Rajdhani", sans-serif;
    --fonts-secondary: "VT323", monospace;
    --ui-glow: 0 0 5px var(--colors-primary--500);
    --ui-glow-borders--500: 0 0 3px var(--colors-primary--500);
    --ui-glow-color: currentcolor;
    --ui-glow-text: -9px -6px 40px var(--ui-glow-color);
    --ui-glow-text--dimmed: -9px -6px 40px var(--ui-glow-color);
    --ui-elevation--1: 2px 2px 0 rgba(0, 0, 0, 0.8);
    --ui-notch-amount: 1rem;
    --ui-notch-hypotenuse: 24.627416px; /* hypothenuse of --ui-notch-amount */
    --ui-notch-hypotenuse2: 22.627416px; /* hypothenuse of --ui-notch-amount */
    --ui-notch-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--ui-notch-amount) + 2px),
        calc(100% - var(--ui-notch-amount) + 2px) 100%,
        0 100%
    );

    --colors-primary: #131417;
    --colors-secondary: #1e181e;
    --colors-accent: #e8615a;

    #nprogress .bar {
        background: var(--colors-accent);
    }
    #nprogress .spinner-icon {
        border-top-color: var(--colors-accent); /* accent color */
        border-left-color: var(--colors-accent);
    }

    .button {
        position: relative;
        background-color: var(--colors-bg--300);
        clip-path: var(--ui-notch-path) !important;
        border-radius: 0 !important;
        border: 1px solid var(--colors-primary--600-opacity) !important;
        clip-path: var(--ui-notch-path) !important;
        &:before {
            background-color: var(--colors-primary--600-opacity);
            bottom: 5px;
            content: "";
            display: block;
            height: 2px; /* bigger to compensate transform */
            position: absolute;
            right: -6px;
            top: auto;
            transform: rotate(-45deg);
            width: var(--ui-notch-hypotenuse);
            z-index: 1000000;
        }

        &:hover {
            background-color: var(--colors-primary--600);
        }
    }

    .box,
    .card {
        position: relative;

        background-color: var(--colors-bg--300);

        clip-path: var(--ui-notch-path) !important;
        border-radius: 0 !important;
        border: 1px solid var(--colors-primary--600-opacity) !important;

        &:before {
            background-color: var(--colors-primary--600-opacity);
            bottom: 5px;
            content: "";
            display: block;
            height: 2px; /* bigger to compensate transform */
            position: absolute;
            right: -6px;
            top: auto;
            transform: rotate(-45deg);
            width: var(--ui-notch-hypotenuse);
            z-index: 1000000;
        }
    }

    .card .card-header {
        border-bottom: 1px solid var(--colors-primary--600-opacity) !important;
        margin-bottom: 0.5em;
        padding-bottom: 0.25em;
    }
    .card .card-footer {
        border-top: 1px solid var(--colors-primary--600-opacity) !important;
        margin-top: 0.5em;
        padding-top: 0.25em;
    }
}

html[data-theme="lis"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "whatnot", sans-serif;
    }
    font-family: "HelvetiHand", cursive;
    --colors-primary: #131417;
    --colors-secondary: var(--color-slate-800);
    --colors-accent: #36bbd9;

    .card,
    .box {
        position: relative;
        background-color: #fbf2d9; /* softer aged paper */
        background-size: cover;
        color: #2e2e2e;
        padding: 1.5rem;
        border: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
            inset 0 0 2px rgba(0, 0, 0, 0.05);

        clip-path: polygon(
            2% 4%,
            8% 2%,
            15% 6%,
            23% 3%,
            30% 7%,
            37% 4%,
            45% 9%,
            53% 5%,
            60% 8%,
            68% 3%,
            75% 7%,
            83% 4%,
            91% 6%,
            98% 2%,
            100% 10%,
            98% 92%,
            92% 95%,
            85% 91%,
            78% 95%,
            70% 90%,
            62% 94%,
            55% 91%,
            48% 95%,
            40% 90%,
            33% 94%,
            25% 91%,
            18% 95%,
            10% 92%,
            3% 96%,
            0% 90%
        );
    }

    .card-header {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 0.5em;
        padding-bottom: 0.25em;
        border-bottom: 1px dashed #a38267;
        color: #3f3f3f;
        font-family: "whatnot", sans-serif;
    }
    .card-body {
        font-size: 0.95rem;
        line-height: 1.7;
    }
    .card-footer {
        margin-top: 0.75em;
        padding-top: 0.5em;
        border-top: 1px dashed #a38267;
        font-size: 0.85rem;
        color: #6a6a6a;
    }
}
