@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

html,
body {
    font-family: "Ubuntu", sans-serif;
}

/* LIFE IS STRANGE FONTS */
@font-face {
    font-family: "Dudu";
    src: url("/fonts/Dudu_Calligraphy.ttf");
    font-display: swap;
}
@font-face {
    font-family: "whatnot";
    src: url("/fonts/whatnot.ttf");
    font-display: swap;
}
@font-face {
    font-family: "HelvetiHand";
    src: url("/fonts/HelvetiHand.ttf");
    font-display: swap;
}
/* END LIFE IS STRANGE FONTS */

/* PORTAL FONTS */
@font-face {
    font-family: "Portal";
    src: url("/fonts/DIN.otf");
    font-display: swap;
}
/* END PORTAL FONTS */

/* CYBERPUNK FONTS */
@font-face {
    font-family: "Cyberpunk";
    src: url("/fonts/Cyberpunk.ttf");
    font-display: swap;
}
@font-face {
    font-family: Cyber;
    src: url("/fonts/Blender-Pro-Bold.otf");
    font-display: swap;
}
/* END CYBERPUNK FONTS */

.button {
    background-color: var(--color-blue-600);

    &:hover {
        background-color: var(--color-blue-500);
    }
}

html[data-theme="portal"] {
    font-family: "Portal", sans-serif;
    --colors-accent: #00a2ff;

    --colors-secondary: var(--color-slate-800);

    #nprogress .bar {
        background: var(--colors-accent);
    }
    #nprogress .spinner-icon {
        border-top-color: var(--colors-accent); /* accent color */
        border-left-color: var(--colors-accent);
    }
}

html[data-theme="cyberpunk"] {
    font-family: "Cyber", sans-serif;
    --colors-bg--300: #1e181e;
    --colors-bg--300: #1e181e;
    --colors-bg--500: #191a1e;
    --colors-primary--200: #f4908b;
    --colors-primary--300: #ea6f69;
    --colors-primary--500: #e8615a;
    --colors-primary--600: #9c3230;
    --colors-primary--600-opacity: #9c323088;
    --colors-primary--700: #5e2122;
    --colors-primary--800: #451717;
    --colors-primary--900: #3c181a;
    --colors-secondary--500: #2be4ea;
    --colors-secondary--900: #295459;
    --colors-tertiary--500: #fed33f;
    --colors-on_bg--500: var(--colors-primary--500);
    --colors-on_tertiary--500: var(--colors-bg--300);
    --colors-on_primary--500: var(--colors-primary--200);
    --colors-active--500: #2bfea0;
    --fonts-primary: "Rajdhani", sans-serif;
    --fonts-secondary: "VT323", monospace;
    --ui-glow: 0 0 5px var(--colors-primary--500);
    --ui-glow-borders--500: 0 0 3px var(--colors-primary--500);
    --ui-glow-color: currentcolor;
    --ui-glow-text: -9px -6px 40px var(--ui-glow-color);
    --ui-glow-text--dimmed: -9px -6px 40px var(--ui-glow-color);
    --ui-elevation--1: 2px 2px 0 rgba(0, 0, 0, 0.8);
    --ui-notch-amount: 1rem;
    --ui-notch-hypotenuse: 24.627416px; /* hypothenuse of --ui-notch-amount */
    --ui-notch-hypotenuse2: 22.627416px; /* hypothenuse of --ui-notch-amount */
    --ui-notch-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--ui-notch-amount) + 2px),
        calc(100% - var(--ui-notch-amount) + 2px) 100%,
        0 100%
    );

    --colors-primary: #131417;
    --colors-secondary: #1e181e;
    --colors-accent: #e8615a;

    #nprogress .bar {
        background: var(--colors-accent);
    }
    #nprogress .spinner-icon {
        border-top-color: var(--colors-accent); /* accent color */
        border-left-color: var(--colors-accent);
    }

    .button {
        position: relative;
        background-color: var(--colors-bg--300);

        border: 1px solid var(--colors-primary--600-opacity) !important;
        clip-path: var(--ui-notch-path) !important;
        border-radius: 0 !important;
        border: 1px solid var(--colors-primary--600-opacity) !important;
        clip-path: var(--ui-notch-path) !important;
        &:before {
            background-color: var(--colors-primary--600-opacity);
            bottom: 5px;
            content: "";
            display: block;
            height: 2px; /* bigger to compensate transform */
            position: absolute;
            right: -6px;
            top: auto;
            transform: rotate(-45deg);
            width: var(--ui-notch-hypotenuse);
            z-index: 1000000;
        }

        &:hover {
            background-color: var(--colors-primary--600);
        }
    }
}

html[data-theme="lis"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "whatnot", sans-serif;
    }
    font-family: "HelvetiHand", sans-serif;

    --colors-primary: #131417;
    --colors-secondary: var(--color-slate-800);
    --colors-accent: #36bbd9;

    #nprogress .bar {
        background: var(--colors-accent);
    }
    #nprogress .spinner-icon {
        border-top-color: var(--colors-accent); /* accent color */
        border-left-color: var(--colors-accent);
    }
}
